<div class='tabscontainer'>
  <tabs [renderPreview]="renderPreview.bind(this)"></tabs>
</div>
<button
  [class.hidden]="!showExport" [clipboard]
  [attr.data-clipboard-text]="profileSrc"
  (clipboardSuccess)="onClipboardSuccess()"
  (clipboardError)="onClipboardError()"
>
  Copy Source Code to Clipboard
</button>
<div id='preview-settings-container'>
  <h1 [class.hidden]="!showExport" id='previewHead'>Preview</h1>
  <input
    id='mute-preview-checkbox'
    name='mutePreview' type='checkbox'
    [(ngModel)]='mutePreview'>
  <label for='mutePreview' id='mutePreviewLabel'>Mute Preview</label>
</div>
<div [class.hidden]="!showExport" id='previewContainer'>
<iframe
  id='preview'
  #preview>
</iframe>
</div>
