<div class='tabscontainer'>
  <tabs [renderPreview]="renderPreview.bind(this)"></tabs>
</div>
<h1 [class.hidden]="!showExport" id='previewHead'>Preview</h1>
<button
  [class.hidden]="!showExport" [clipboard]
  [attr.data-clipboard-text]="profileSrc"
  (clipboardSuccess)="onClipboardSuccess()"
  (clipboardError)="onClipboardError()"
>
  Copy Source Code to Clipboard
</button>
<div [class.hidden]="!showExport" id='previewContainer'>
<iframe
  id='preview'
  style='width:600px;'
  #preview>
</iframe>
</div>
