<div id='toggle-styleeditor-button-bg' [ngClass]="{collapsed: isCollapsed}" class='inverted-button'></div>
<div id='style-editor' [ngClass]="{collapsed: isCollapsed}">
  <div id='toggle-styleeditor-button' class='inverted-button' (click)="toggleCollapsed()">
    {{toggleButtonText}}
  </div>
  <div id='bg-music-editor'>
    <label for='bgmusicUrl'>Background-Music:</label>
    <input class='bgmusic-url-input' type='url' (blur)="musicUpdate()" name='bgmusicUrl' [(ngModel)]='bgMusicUrl'>
  </div>
  <h2>Theme</h2>
  <select [(ngModel)]="selectedStyle">
    <option *ngFor="let style of styles" [ngValue]="style">
      {{style.id}}
    </option>
  </select>
  <ul id='attributes-container'>
    <li *ngFor="let param of selectedStyle.parameters; let i = index" class='style-parameter-item' [ngClass]="{ odd: i % 2}">
      <label for='param-{{param.id}}'>{{param.description}}:</label>
      <button class='reset-button' (click)='resetParam(param.id);'>
        <img src='/assets/reset-icon.svg' width='16px' height='16px'>
      </button>
      <dropdown-parameter
        class='dropdown'
        *ngIf="param.type === 'dropdown'"
        [parameter]="param"
        [updateFun]="updateParameter.bind(this)"></dropdown-parameter>
      <textarea
        class='style-parameter-input-field'
        *ngIf="param.type === 'multiline'"
        (blur)="styleUpdate()"
        (change)="styleUpdate()"
        name='param-{{param.id}}'
        [(ngModel)]="param.value"></textarea>
      <input
        class='style-parameter-input-field'
        *ngIf="param.type != 'dropdown' && param.type != 'multiline'"
        type='{{param.type}}'
        (blur)="styleUpdate()"
        (change)="styleUpdate()"
        name='param-{{param.id}}'
        [(ngModel)]="param.value"
        step='{{param.step || 0.1}}'
        min='{{param.min || 0}}'
        max='{{param.max || 100}}'>
    </li>
  </ul>
</div>
