#style-editor {
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  background-color: #f0f0ff;
  border-width: 2px;
  border-left-style: solid;
  border-color: #1a1a33;
  height: 100%;
  padding-top: 1em;
  padding-left: 1em;
  box-sizing: border-box;
  color: #1a1a33;
  max-width: 80%;
  overflow: auto;
}

#attributes-container {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

#attributes-container label {
  margin-right: 1em;
  font-size: 0.8em;
  width: 140px;
  float: left;
}

#bg-music-editor {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 10px;
  padding-bottom: 20px;
  display: block;
}

.style-parameter-input-field {
  float:left;
}

.style-parameter-item {
  display: inline-block;
  padding: 4px;
  margin: 0;
  /*border-top-style: dashed;
  border-top-color: black;
  border-top-width: 1px;*/

  width: 100%;
}

.style-parameter-item.odd {
  background-color: #d0d0dd;
}

.style-parameter-item input:not([type=color]) {
  height: 20px;
  line-height: 22px;
  border-width: 1px;
  border-radius: 3%;
  border-style: solid;
  border-color: #CCC;
  padding: 1px;
}

.style-parameter-item input:not([type=color]),
.style-parameter-item textarea {
  width: 160px;
  box-sizing: border-box;
}

.style-parameter-item > input[type="text"]:focus,
.style-parameter-item > input[type="url"]:focus {
  border-color: #6688FF
}

#style-editor.collapsed {
  min-width: 0px;
  width: 0px;
  padding: 0px;
  margin: 0px;
}

#style-editor.collapsed *:not(#toggle-styleeditor-button) {
  display: none;
}

#toggle-styleeditor-button, #toggle-styleeditor-button-bg {
  display: block;
  width: 40px;
  height: 40px;
  top:50%;
  line-height: 40px;
  position: fixed;
}

#toggle-styleeditor-button {
  margin-left: -38px;
  border-style: none;
}

#toggle-styleeditor-button-bg {
  margin-left: -22px;
  margin-top: -2px;
}

#toggle-styleeditor-button-bg.collapsed {
  right: -4px;
}

input[type='number'] {
  text-align: center;
  width: 58px;
}

input[type='color'] {
  padding: 0;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 45%;
  box-shadow: 0 0 0 2px black;
}

input[type='color']:hover {
  box-shadow:
          0 0 0 2px black,
          0 0 2px 5px #FFAAAA;
}

.dropdown {
  float: left;
}

.bgmusic-url-input {
  float: right;
}

.reset-button {
  float: right;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-left: 4px;
  border-width: 0;
  border-style: none;
  border-radius: 45%;
  background-color: #556;
  line-height: 20px;
}

.reset-button:hover {
  box-shadow: 0 0 2px 3px #FFAAAA;
}
