#style-editor {
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  background-color: #f0f0ff;
  border-width: 2px;
  border-left-style: solid;
  border-color: #1a1a33;
  height: 100%;
  padding-top: 1em;
  padding-left: 1em;
  box-sizing: border-box;
  color: #1a1a33;
  position: fixed;
}

#attributes-container {
  list-style: none;
}

#attributes-container label {
  margin-right: 1em;
}

#bg-music-editor {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 10px;
  padding-bottom: 20px;
  display: block;
}

.style-parameter-input-field {
  float:right;
}

.style-parameter-item {
  display: block;
  padding: 4px;
  margin: 10px;
}

#style-editor.collapsed {
  min-width: 0px;
  width: 0px;
  padding: 0px;
  margin: 0px;
}

#style-editor.collapsed *:not(#toggle-styleeditor-button) {
  display: none;
}

#toggle-styleeditor-button, #toggle-styleeditor-button-bg {
  display: block;
  width: 40px;
  height: 40px;
  top:50%;
  line-height: 40px;
  position: fixed;
}

#toggle-styleeditor-button {
  margin-left: -38px;
  border-style: none;
}

#toggle-styleeditor-button-bg {
  margin-left: -22px;
  margin-top: -2px;
}

#toggle-styleeditor-button-bg.collapsed {
  right: -4px;
}

input[type='number'] {
  text-align: center;
  width: 58px;
}

.dropdown {
  float: right;
}

.bgmusic-url-input {
  float: right;
}
