.active {
  color: red;
}

.tabtitle:not(#addtab-button) {
  background-color: #F0F0FF;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-colour: #1A1A33;
  padding: 4px;
  display: inline-block;;
}

.tabtitle:hover {
  cursor: pointer;
}

#addtab-button {
  border-style: solid;
  border-color: #1A1A33;
  border-width: 2px;
  background-color: #1A1A33;
  color: #F0F0FF;
  display: inline-block;
  height: 12px;
  width: 12px;
  line-height: 12px;
  padding: 4px;
  text-align: center;
  margin-left: 6px;
  border-radius: 15px;
}
