.tabtitle:not(#addtab-button) {
  background-color: #F0F0FF;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #1A1A33;
  padding: 4px;
  display: inline-block;;
}

.tabtitle.active:not(#addtab-button) {
  color: red;
  border-bottom-color: red;
}

.tabtitle:hover {
  cursor: pointer;
}

#addtab-button {
  display: inline-block;
  height: 13px;
  width: 13px;
  line-height: 11px;
  padding: 4px;
  margin-left: 6px;
  font-size: 15px;
  font-weight: bolder;
}
