<div *ngIf="profile">
  <label *ngFor="let tab of profile.tabs"
    [class.active]="tab === activeTab"
    class="tabtitle"
    id="tabtitle_{{tab.id}}"
    for="tab_{{tab.id}}"
    (click)="activate(tab)">
      {{tab.title}}
  </label><label class='tabtitle' id='addtab-button' (click)="addNewTab()">+</label>
  <div *ngIf="activeTab" class='editorcontainer'>
      <!--<textarea *ngIf="editmode=='source'" [(ngModel)]="activeTab.content" class='editor' width='300' height='20'>
      </textarea>-->
      <editor *ngIf="profile.id" [tab]="activeTab" [tabStyles]="style">
      </editor>
  </div>
</div>
