/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  background-color: #556;
}

h1 {
  color: #f0f0ff;
}

.button {
    cursor: pointer;
    border-radius: 50%;
    background-color: 
    color: #f0f0ff;
    border-color: #f0f0ff;
    border-width: 2px;
    border-style: solid;
    text-align: center;

}


