/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  background-color: #556;
  font-family: Verdana, sans-serif;
}

h1 {
  color: #f0f0ff;
}

.button, .inverted-button {
    cursor: pointer;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.button {
    background-color: #1a1a33;
    color: #f0f0ff;
    border-color: #f0f0ff;
}

.inverted-button {
    background-color: #f0f0ff;
    color: #1a1a33;
    border-color: #1a1a33;
}

style-editor {
  display: block;
  width: 400px;
}
